* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
    color:black;
}
body {
    background-color: black;

}
header {
    background-color: black;
    text-decoration-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
   
    font-style: normal;
    color: white;
}
header nav ul li:hover {
    scale: 1.2;
}
header  .logo  {
	font-size: 20px;
	font-weight: 900;
	color: black;
	transition: .5s; }
    header .logo:hover {
        transform: scale(1.2)
    }
.wlogo {
     margin: 10em;
     margin-left: 55em;
}
.com {
    margin-top: 3em;
    margin-left:-120em ;
}